<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <h1 style="text-align: center">Login</h1>

    <div class="well">
      <form name="loginForm" role="form" ng-submit="submitForm(loginForm.$valid)" novalidate>
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group"
             ng-class="{ 'has-error' : loginForm.login.$invalid && !loginForm.login.$pristine && submitted}">
          <label for="login">Username</label>
          <input type="text" class="form-control" id="login" name="login" ng-model="username"
                 placeholder="Enter your username" required/>

          <p style="text-align: center" ng-show="loginForm.login.$invalid && !loginForm.login.$pristine"
             class="help-block">Username is required.</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine && submitted}">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" ng-model="password"
                 placeholder="Enter your password" required/>

          <p style="text-align: center" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine"
             class="help-block">Password is required.</p>
        </div>

        <div class="form-group span7 text-center">
          <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
