<form role="form" ng-submit="addNote()">
  <div class="form-group col-md-4 col-md-offset-4">
  <div>
    <label for="post__content">New note</label>
    <textarea class="form-control"
              id="post__content"
              rows="3"
              placeholder="ex. Put your note content here..."
              ng-model="content">
    </textarea>
  </div>
    <br/>

  <div class="form-group span7 text-center">
    <button type="submit" class="btn btn-primary">
      Add note
    </button>
  </div>
  </div>
</form>
