<div class="row" id="notes">
  <div ng-repeat="note in notes.data" class="repeat-item">
    <div class="postit col-md-2" ng-click="full = !full">
      <!--<i class="pin" style="margin-top: -160px"></i>-->
      <a href="" ng-click="removeNote(note)"><i class="text-muted glyphicon glyphicon-remove icon-remove"></i></a>

      <p>
        <small>Day: {{ note.created_at | date:'dd MM yyyy HH:mm' }}</small>
      </p>
      <br/>

      <p ng-if='full' style="word-break: break-all;">
        {{ note.content}}
      </p>

      <div ng-if='!full'>
        <p style="word-break: break-all; padding-bottom: 10px">
          {{ note.content | limitTo: 40 }}
        </p>
        <span ng-if="note.content.length > 40"><i>(click to see full)</i></span>
      </div>
    </div>
  </div>
</div>
