<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <h1 style="text-align: center">Register</h1>

    <div class="well">
      <form name="registerForm" role="form" ng-submit="submitForm(registerForm.$valid)" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : registerForm.register__email.$invalid && !registerForm.register__email.$pristine && submitted}">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" name="register__email" ng-model="email"
                 placeholder="" required/>

          <p style="text-align: center"
             ng-show="registerForm.register__email.$invalid && !registerForm.register__email.$pristine"
             class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : registerForm.register__username.$invalid && !registerForm.register__username.$pristine && submitted}">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" name="register__username" ng-model="username"
                 placeholder="" required/>

          <p style="text-align: center"
             ng-show="registerForm.register__username.$invalid && !registerForm.register__username.$pristine"
             class="help-block">Username is required.</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : registerForm.register__password.$invalid && !registerForm.register__password.$pristine && submitted}">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" name="register__password"
                 ng-model="password" placeholder="" required/>

          <p style="text-align: center"
             ng-show="registerForm.register__password.$invalid && !registerForm.register__password.$pristine"
             class="help-block">Password is required.</p>
        </div>

        <div class="form-group span7 text-center">
          <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
